absl-py==0.12.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
flatbuffers==1.12
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
hog==0.1.7
idna==2.10
imageio==2.9.0
importlib-metadata==3.7.0
imutils==0.5.4
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
msvc-runtime==14.28.29910
mtcnn==0.1.0
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
pandas==1.2.3
pef==1.1.0
Pillow==8.1.0
pipreqs==0.4.10
prompt-toolkit==2.0.10
protobuf==3.15.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PySide2==5.15.2
PySimpleGUI==4.35.0
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytify==3.6.3
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
qtwidgets==0.18
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scipy==1.4.1
shiboken2==5.15.2
sip==4.19.8
six==1.15.0
tb-nightly==2.5.0a20210227
tensorboard==2.4.1
tensorboard-data-server==0.3.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
tf-estimator-nightly==2.5.0.dev2021022701
tf-nightly==2.5.0.dev20210227
tifffile==2021.4.8
torchvision==0.9.1
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.3
utils==1.0.1
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yarg==0.1.9
zipp==3.4.0
